client
dev tun
proto udp
remote <IP_ADDRESS> 1199
data-ciphers AES-256-GCM:AES-128-GCM
auth SHA512
nobind
resolv-retry infinite
remote-cert-tls server
persist-key
persist-tun
verb 3
key-direction 1
verb 3
auth-nocache
auth-user-pass
<ca>
-----BEGIN CERTIFICATE-----
MIIDSzCCAjOgAwIBAgIUDtfuk1P2agMWIeY1oMCXQ4YJSoEwDQYJKoZIhvcNAQEL
BQAwFjEUMBIGA1UEAwwLRWFzeS1SU0EgQ0EwHhcNMjQwOTEzMTk1NjMyWhcNMzQw
OTExMTk1NjMyWjAWMRQwEgYDVQQDDAtFYXN5LVJTQSBDQTCCASIwDQYJKoZIhvcN
AQEBBQADggEPADCCAQoCggEBAMDyMyKT8QRz4K7oAGP/Ut00IEXNyG9Pma2Q0UUh
4jksNtxu62kKdnfVlBcfmx3UMapc5JGOy9LLtOfRl/4v9afqYskc2tWR8mw0+nqo
o/lwF5KTiR5V83NmNVLuag7i33sd8taaxTerrZPyk9kAukFJXJatCRqmmqyyAWma
DLx49gok3dJsnqOA8habnY5gUjZA2HYqajQDSUa2EVzyyViZBl1VeJ8Q3JQCQYku
Dlw9L2Rxnc2/6UJG9Cg39mM87KcBXQTK1+YsWp9IiIwoZangJfw2Lurav+48qUV7
LjRpPZWsjoY7/fcCjuWrwzliDzzXRmT8I/rWmoEs7ZMH9lkCAwEAAaOBkDCBjTAM
BgNVHRMEBTADAQH/MB0GA1UdDgQWBBTtZ49t4POYeqzDnu4i6w4dH2PT+TBRBgNV
HSMESjBIgBTtZ49t4POYeqzDnu4i6w4dH2PT+aEapBgwFjEUMBIGA1UEAwwLRWFz
eS1SU0EgQ0GCFA7X7pNT9moDFiHmNaDAl0OGCUqBMAsGA1UdDwQEAwIBBjANBgkq
hkiG9w0BAQsFAAOCAQEABKWZck4VGOLxemuXDnv7+/wfeOEDGvZKBUqaHc0gHM2y
4F2ZyzXQm7/LHFSKkrhuRQNbKsmtr5z7yAgT28SET2uvxPWmnct29TWBsekllOEJ
uhQpYYyj4b5qk3gaU/j/7dL3COj1tFhF+sP0GPIJDJIxg2YFB9UfM8XL9kWVKXBQ
RpXBvMj1CQCJlYi8vYzJA6qrsgjhwYeyGWxY0pDYF0X+vKsw6S/o53lFTs16Pf7V
A2hzQMsUQMZXR18m/JwdBYkLSbWZZzu+LouElzvtNYsVQ6l9TF56Z/iikJzTxvJN
SoXGaWWuJ8TACygqRcDJK565fwgvNBS7jWWWPDo4Iw==
-----END CERTIFICATE-----
</ca>
<cert>
-----BEGIN CERTIFICATE-----
MIIDWzCCAkOgAwIBAgIQQbJ7BeyPzYdb2YDFUw24rzANBgkqhkiG9w0BAQsFADAW
MRQwEgYDVQQDDAtFYXN5LVJTQSBDQTAeFw0yNDA5MTMyMDE2MjZaFw0yNjEyMTcy
MDE2MjZaMBgxFjAUBgNVBAMMDW1heGltLmJlbHlhZXYwggEiMA0GCSqGSIb3DQEB
AQUAA4IBDwAwggEKAoIBAQDpl5VbG15pJXYiqmLFWmsIafe6UGHP/IHpPeoOOI8E
/S+Ho+6DhWcuS2TQp8KimzonMGT/94QN5zErBfjB758RbKB+mFeiAtRI8iLn3Caj
dc7FXcDZlsq1dJ/1ocn9dDiZHjefD19WbB4MrUYuAfnoGTzfiCmLnhQKQ+2i+6zN
Wnl18fez2SmJmDpoyigKdLcrtZDHPgsG1A5ayfotmjtuqbv5rkxQHgBoeTNGxNL4
CjL5kWPse5Avp2qM1s0iNuxb9MaWviuA7ONJsHdirzKHh20xEWuoJdVpu4z8Ly9s
IvybP3Bg3/kB/+jC0dCyZ6xxZ7zqtrpf/2OBshEBsMDbAgMBAAGjgaIwgZ8wCQYD
VR0TBAIwADAdBgNVHQ4EFgQU9g6hTT+UOvZmbxEU4uALjQ0VAAUwUQYDVR0jBEow
SIAU7WePbeDzmHqsw57uIusOHR9j0/mhGqQYMBYxFDASBgNVBAMMC0Vhc3ktUlNB
IENBghQO1+6TU/ZqAxYh5jWgwJdDhglKgTATBgNVHSUEDDAKBggrBgEFBQcDAjAL
BgNVHQ8EBAMCB4AwDQYJKoZIhvcNAQELBQADggEBAKGk2qQfntw/w2Q+KZ9XLuat
ZyJv90GPK0OprQd9f0OAGOoEgLEH2IJ7snsEfMgMWIdPtwAHWj2uTKghd0ksCa0K
1CnCEzRccLX7NDzjMLVu5Hd7iJ+qurf/AXc3Tfg0rzkNgduKLt6Uqywnydn5FKVF
Z5uM3IwsFIQxMxr31bJcxqUYPhnIkCYGFstUw04gJ1Ei3hBUcTfVu7Kry1MWlTso
7BRG8HLWiOjoa88thgwfEV8qskqjjNaxOxEWbDAfvN49FjP6gSkPL+MPWs0rN5X3
ncnmI+ffz7eH6LKHbzo96FQvY8Z6O2viybGBxg9UxDs+KhG2cDzDExpQIOaO9/E=
-----END CERTIFICATE-----
</cert>
<key>
-----BEGIN PRIVATE KEY-----
MIIEvAIBADANBgkqhkiG9w0BAQEFAASCBKYwggSiAgEAAoIBAQDpl5VbG15pJXYi
qmLFWmsIafe6UGHP/IHpPeoOOI8E/S+Ho+6DhWcuS2TQp8KimzonMGT/94QN5zEr
BfjB758RbKB+mFeiAtRI8iLn3Cajdc7FXcDZlsq1dJ/1ocn9dDiZHjefD19WbB4M
rUYuAfnoGTzfiCmLnhQKQ+2i+6zNWnl18fez2SmJmDpoyigKdLcrtZDHPgsG1A5a
yfotmjtuqbv5rkxQHgBoeTNGxNL4CjL5kWPse5Avp2qM1s0iNuxb9MaWviuA7ONJ
sHdirzKHh20xEWuoJdVpu4z8Ly9sIvybP3Bg3/kB/+jC0dCyZ6xxZ7zqtrpf/2OB
shEBsMDbAgMBAAECggEAQjVQRIf/3P6cutufbj+gCbz7Vcg1yR1Rdxow7oHya6AV
qjT5RDb6FWGSPB/op20m8PejEPgHamdmhMLHDLUN2YL4BJnKcOWrZNeYtC4ul3Mr
Pb7CjAnU/9SECDuoxFl+N0wcyM0zIQw5Ai/UrfKqcjJBEjyGRgfytywkvWbnRja9
fRKoIiDpMp1IpIl9quY/GRbSZNU2SKWCCtaZgAP7xu36kIBKy44xZhN0eugZ0GHX
RwE0RlZn0OLxPZtqzSsmWbW3VK1W9XAqK9q5nM4qtCfLr48KiookyvixeTrToGrU
/ZpxM3ynTxiWOfmYtLw3mqn+sK96S7+dch5pcX6mEQKBgQD7JKAHKzG7Yrniv7vp
P3Ul9jdaqBAB//BMHsXtDFjIcay3sHIeLMyEy+2SU2seWCmB1zsK4rLT9rY7U7WE
MmfXiCwr4xOEh4guMoMOPSwsAhriC0LRMec7+sfyjuA9o7u4Pr5GISmT73rfSkU9
Dr3zssq5KuceleHzk7xth3inywKBgQDuHBDk/qM8dkH1ibNfn0qKBGk1YB4DNokY
Cm9A7u6xjQz7mNiv0yoqI03KOLLCWenOZsbl8pLMghyoIN9LAnvQDVr1FwJGFDCj
lnAkRAU6Geux2TEpOzAW8pt6QwW2B4RK1u8sI0+EnW7EtO+E6LsBiKEk7Qv3HfTg
FLcf2ceJMQKBgDrD1Co5QjbNoB9dq/OlJJ1QYp106+H76Fd3b+rK0897QeXthJZo
9yYvrZRqror4KCY4nZkreJq+hN+W88dOIBw/wc43IS8Go6fjq+TeDYLyryWrauQW
YDwZr0WjhvcFY/x1ugIg6mCyTbcH4vGpjGsEsAjp8BCpE6jyLcoXQ/VHAoGAMy5X
N1HAtrNYtDWYF9q+g/I0xyNU8C3dxAwiI9v39LQz8TTGhuyl6I7UHr6XNg1ro1EW
OcEtasYg8Ma4GIB9KphkT8BVXcjjN5aTnkf8s6N0tTLRTWKKkLQvVVVoudrdxdRz
bpJcek34zFF0FqaL4+WBddV6N/D5fN0XC8KdEFECgYBpV0epjcVcPAvnddOVORqP
Bdi9oTJxfvDDjv02nxI1Jv0atylaDq099NJ82P8vlIic3GqHLc6h3845fDkCdHVV
pSLlEONeTpqdlHsVaKya3/uagIRX9FIHtGto4VSg37hwE/jjDRI5ya5XBX8Cj5qX
fZq7w/Oxx5X3NtfneBoIVQ==
-----END PRIVATE KEY-----
</key>
